In [3]:
num1 = 5
num2 = 225
result = num1 + num2

In [5]:
print("the result is:" , result)

the result is: 230

In [7]:
print(7/3)

2.3333333333333335

In [9]:
print(7//3)

2

In [11]:
print(7%3)

1

In [13]:
print("-" * 40)

----------------------------------------

In [15]:
text="John=is-a-great web developer\t    "

In [29]:
new_text=text.replace('=', ' ').replace('-', ' ')
print(new_text)

John is a great web developer

In [31]:
first_name= input('Please enter your first name: ')
last_name= input('Please enter your last name: ')
age= input('Please enter your age: ')
occupation= input('Please enter your occupation: ')

Please enter your first name:  george
Please enter your last name:  stratos
Please enter your age:  32
Please enter your occupation:  data analyst

In [33]:
print(f"New user {first_name} {last_name}, {age} years old, {occupation}, has been registered in the system.")

New user george stratos, 32 years old, data analyst, has been registered in the system.

In [35]:
for i in range(1, 11):
    print(i*10)

10
20
30
40
50
60
70
80
90
100

In [53]:
x = [3,5,23,6,7]
result=1

In [51]:
for num in x:
    result *= num

In [43]:
print(result)

14490

In [65]:
n = int(input("Enter an integer: "))

Enter an integer:  8

In [83]:
total=0

In [87]:
for num in range(1,n + 1):
    total+=num

In [89]:
print(total)

36

In [91]:
x = [44,32,65,77,12,86]

In [101]:
sorted_x = sorted(x)

In [103]:
sorted_x

[12, 32, 44, 65, 77, 86]

In [105]:
sorted_x[4]

77

In [107]:
fruits = ['Apple', 'Grapes', 'Berry', 'Orange']

In [139]:
joined_fruits = '-'.join(fruits)
print(joined_fruits)

Apple-Grapes-Berry-Orange

In [141]:
x = [32,3,5,4,4,3,2,6,4,5,6,7,8]

In [145]:
new_x=[]

In [147]:
for num in x:
    if num not in new_x:
        new_x.append(num)

In [149]:
print(new_x)

[32, 3, 5, 4, 2, 6, 7, 8]

In [151]:
lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]

In [163]:
lst[3][1][2]

['Data Science']

In [165]:
x = [2,4,5,6,7,1,6,8]

In [167]:
y = [3,4,5,6,0,3,9]

In [191]:
new=[]

In [193]:
for num in x:
    if num not in y:
        new.append(num)

In [195]:
for num in y:
    if num not in x:
        new.append(num)

In [197]:
print(new)

[2, 7, 1, 8, 3, 0, 3, 9]

In [217]:
x = [4,67,8, 'None', 32, 'Missing', 21]

In [239]:
replacement=0

In [249]:
x[3]=replacement
x

[4, 67, 8, 0, 32, 'Missing', 21]

In [251]:
x[5]=replacement
x

[4, 67, 8, 0, 32, 0, 21]

In [253]:
x = [32, 3, 5, 4, 4, 3, 2, 6, 4, 5, 6, 7, 8]

In [255]:
new_list = list(set(x))
new_list

[32, 2, 3, 4, 5, 6, 7, 8]

In [261]:
set([2,4,5,6,7,1,6,8]) ^ set([3,4,5,6,0,3,9])

{0, 1, 2, 3, 7, 8, 9}

In [6]:
d = {'section':{'production':['wheel','tyre',{'engine':['pistons','valves','cylinder']}, 'door']}, 'development':'gearbox'}

In [8]:
d.values()

dict_values([{'production': ['wheel', 'tyre', {'engine': ['pistons', 'valves', 'cylinder']}, 'door']}, 'gearbox'])

In [12]:
number=1994

In [16]:
lst1 = [int(digit) for digit in str(number)]
lst1

[1, 9, 9, 4]

In [2]:
careers = ['programmer', 'truck driver', 'doctor', 'teacher']

In [10]:
careers[0]

'programmer'

In [14]:
careers.index('programmer')

0

In [18]:
x='programmer'

In [28]:
if x in careers:
    print(f'career {x} is in careers')

career programmer is in careers

In [30]:
careers.append('analyst')
careers

['programmer', 'truck driver', 'doctor', 'teacher', 'analyst']

In [32]:
careers.insert(0, 'data scientist')

In [34]:
careers

['data scientist',
 'programmer',
 'truck driver',
 'doctor',
 'teacher',
 'analyst']

In [36]:
for career in sorted(careers):
    print(career)

analyst
data scientist
doctor
programmer
teacher
truck driver

In [38]:
for career in careers:
    print(career)

data scientist
programmer
truck driver
doctor
teacher
analyst

In [40]:
for career in sorted(careers, reverse=True):
    print(career)

truck driver
teacher
programmer
doctor
data scientist
analyst

In [44]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [64]:
new_alphabet=alphabet[0:10]
new_alphabet

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [66]:
alphabet[0:3]

['a', 'b', 'c']

In [68]:
alphabet[4:7]

['e', 'f', 'g']

In [70]:
alphabet[5:]

['f', 'g', 'h', 'i', 'j', 'k', 'l']

In [76]:
a='10'
b=10

In [80]:
if type(a) is str:
    print(True)

True

In [84]:
if type(b) is str:
    print(True)
else:
    print(False)

False

In [86]:
sentence = 'St. Moritz is a nice location to visit over Christmas holidays!'

In [88]:
key_check='holidays'

In [90]:
if key_check in sentence:
    print(f'{key_check} is in sentence')

holidays is in sentence

In [148]:
num= '4567'

In [150]:
newlist=list(num)
newlist

['4', '5', '6', '7']

In [160]:
newlist.sort()
newlist

['4', '5', '6', '7']

In [162]:
newlist.sort(reverse=True)
newlist

['7', '6', '5', '4']

In [178]:
data = {'part 1':['a','b'], 'part 2':['c','d']}

In [180]:
combinations=[]

In [182]:
for letter1 in data['part 1']:
    for letter2 in data['part 2']:
        combinations.append(letter1 + letter2)

In [184]:
for combination in combinations:
    print(combination)

ac
ad
bc
bd

In [186]:
electricity_bill = {
    'January': 232,
    'February': 245,
    'March': 267,
    'April': 223,
    'May': 257,
    'June': 284,
    'July': 243,
    'August': 120,
    'September': 245,
    'October': 278,
    'November': 345,
    'December': 326,
}

In [188]:
electricity_bill.values()

dict_values([232, 245, 267, 223, 257, 284, 243, 120, 245, 278, 345, 326])

In [190]:
sum(electricity_bill.values())

3065

In [198]:
average_electricity=3065//12
average_electricity

255

In [200]:
lst1= [91, 64, 47, 82, 67, 96]

In [202]:
letters=[]

In [204]:
for grade in lst1:
    if grade > 90:
        letters.append('A')
    elif 80 <= grade <= 90:
        letters.append('B')
    elif 70 <= grade < 80:
        letters.append('C')
    elif 60 <= grade < 70:
        letters.append('D')
    else:
        letters.append('F')

In [206]:
print(lst1)
print(letters)

[91, 64, 47, 82, 67, 96]
['A', 'D', 'F', 'B', 'D', 'A']

In [208]:
temperature = {
        'June': [25,25,26,27,25,25,24,27,28,28,31,32,33],
        'July': [34,34,36,39,39,38,39,37,39,41,41,39,37],
        'August': [37,37,36,37,35,35,34,37,38,34,32,33,31],
}

In [220]:
hottest_temp = None
coldest_temp = None
hottest_temp= []
coldest_temp= []

In [232]:
for month, temp in temperature.items():
    if hottest_temp is None or temp> hottest_temp:
        hottest_temp = temp
        hottest_month = month

In [234]:
for month, temp in temperature.items():
    if coldest_temp is None or temp < coldest_temp:
            coldest_temp = temp
            coldest_month = month

In [238]:
print(f'the hottest day is in {hottest_month} with {hottest_temp}')

the hottest day is in August with [37, 37, 36, 37, 35, 35, 34, 37, 38, 34, 32, 33, 31]

In [252]:
squares_of_evens = [num ** 2 for num in range(1, 11) if num % 2 == 0]

In [254]:
squares_of_evens

[4, 16, 36, 64, 100]

In [240]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [295]:
list=[1,2,3,3,4,6,6]

In [297]:
x = []

In [299]:
for a in list:
    if a not in x:
        x.append(a)

In [301]:
print(x)

[1, 2, 3, 4, 6]

In [303]:
list=[1,2,3,3,4,6,6]

In [305]:
sum(list)

25

In [309]:
average=sum(list)/len(list)
average

3.5714285714285716

In [311]:
order_list = [
    'fries', 'burger', 'eggs', 'pasta', 'pizza', 'schnitzel', 'salad', 'water',
    'soda', 'wine', 'eggs', 'pasta', 'pizza', 'schnitzel', 'salad', 'water',
    'soda', 'wine', 'pizza', 'schnitzel', 'soda', 'wine', 'lemonade', 'steak',
    'pasta', 'salad', 'fries', 'burger', 'water', 'burger'
]

In [329]:
customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}

In [339]:
customers['customer 3']['items'].append('berries')

In [341]:
customers['customer 3']['nr_or_purchases'] += 1

In [343]:
customers.pop('customer 2')

{'name': 'Rebeca Collins',
 'city': 'New York',
 'nr_or_purchases': 1,
 'items': ['sugar']}

In [345]:
customers['customer 5'] = {
    'name': 'Sophia Willis',
    'city': 'Alabama',
    'nr_or_purchases': 4,
    'items': ['sugar', 'milk', 'butter', 'flour']
}

In [347]:
for customer in customers.values():
    if customer['nr_or_purchases'] > 3:
        customer['promo'] = 'coupon'

In [349]:
for customer in customers.values():
    if customer['city'] == 'Boston':
                customer['promo'] = '10% discount'

In [351]:
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries', 'berries'], 'promo': '10% discount'}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter'], 'promo': '10% discount'}, 'customer 5': {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items': ['sugar', 'milk', 'butter', 'flour'], 'promo': 'coupon'}}

In [355]:
sentence = input("Please enter a sentence: ")

Please enter a sentence:  Hello I am Magda from Athens

In [379]:
u = sum(i.isupper() for i in sentence)
print(u)

4

In [377]:
x = sum(i.islower() for i in sentence)
print(x)

19

In [34]:
cubes = [x**3 for x in range(1, 11)]

In [383]:
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000